#container {display: flex}
#sommaire {flex: 1; background-color: rgb(205, 205, 205);}
#contenu {flex: 3; background-color: rgb(244, 244, 244); }
#logo {width: 150px; height: 150px;}
h2 {text-decoration: underline;}